@charset "UTF-8";
@import url('https://fonts.googleaps.com/css2?family=Poppins:wght@300;40;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root{
    --bg-color: #131324e5;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: rgb(140, 171, 173);
}

body{
    background-color: rgba(255, 255, 255, 0.753);
    width: 100%;
}

#bloco{
    background-image: url(../img/img-font2/png-transparent-black-and-white-diamond-pattern-banner-background-pattern-diamond-square.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 88vw;
    padding: 25px;
    margin: 0;
    border-radius: 9px;

}

nav{
    padding: 14px;
    text-align: end;
}

nav > a{
    background-color: rgb(64, 82, 95);
    color: aliceblue;
    text-decoration: none;
    border-radius: 20px;
    border: 0.1px solid rgba(0, 0, 0, 0.616);
    padding: 6px;
    margin: 9px;
    position: relative;
    top: -40px;
    transition: 0.3s all ease;

    
}

a:hover{
    background-color: rgb(99, 183, 189);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.616);
    position: relative;
    top: -48px;
    transition: 0.3s all ease;
    
}

section{
    background-color: azure;
    width: 88%;
    margin: auto;
}
h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    position: relative;
    top: 60px;
    left: 50px;
}

h2{
    text-align: center;
    font-size: 1rem;
}

#text{
    position: relative;
    left: 6%;
 
}

.text-direct{
    position: relative;
    top: 18%;
}

.text-direct-fc{
    position: relative;
    top: 30%;
}

span{
    color: var(--main-color);
}

h3{
    position: relative;
    top: 60px;
    left: 50px;
    font-size:  2.6rem;
    font-weight: 700;
    
}

h3:nth-of-type(2){
    margin-bottom: 2rem;
}
p{
    position: relative;
    top: 70px;
}



#color-img  img{
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    left: 65%;
    top: -450px;
    width: 30%;
    min-width: 10%;
    border-radius: 50%;
    box-shadow: 1px 2px 1px #323946;
}

#color-img img:hover{
    border-spacing: 30px;
    box-shadow: 6px 2px 6px #323946;
}

.social-media{
    position: relative;
    top: 10px;
    padding: 25px;
}

.conecimento{
    background-color: #00000070;
    border-radius: 20px;
    position: relative;
    top: -150px;
    box-shadow: 6px 2px 6px solid rgba(0, 0, 0, 0.664);
}

.trabalhos{
    display: flex;
    justify-content: space-around;
}

.html-logo{

    padding-left: 15px;
}

.bxl-javascript{
    color: #a32c2c;
    font-size: 10rem;
}

.bxl-html5 {
    background-color: transparent;
    color: #a32c2c;
    font-size: 10rem;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 8px;
}
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        padding-top: 0;
    }
    .menu a {
        flex: 1;
        color: black;
    }
}